/* firstly css reset */
*{
    margin: 0;
    padding: 0;
}
html{
    /* in case scrolling ho to smoothly ho  */
    /* iske liye mko  home ke li ke href m # ko #home se replace krna padega  */
    scroll-behavior: smooth;
}
/* Css variables--- */
:root{
    --navbar-height:60px;
}

/* Navigation bar : Logo and Image  */
/* #logo{
    
} */
#logo img{
    height: 150px;
    margin: 20px 25px;
}

/* Navigation bar : List Styling */
#navbar{
    display: flex;
    align-items: center;
    /* position relative se apni position rahegi absolute se apni parent k uper aa jaega */
    position: sticky;
    top: 0px;
}

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;
}
#navbar::before{
    content: " ";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#navbar ul li{
    /* color: white; */
    list-style: none;
    font-size: 2rem;
}
/* mne padding li m nhi mne padding (a )m di bcoz m chahti jb m (a) ko hover kru to usmen changes aae    agr li m kiya hota to li ki padding mhover krne se change nhi aate but now (a) m krne se uski paddimg m hver se bhi change aaenge ..*/
#navbar ul li a{
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}
#navbar ul li a:hover{
    border-radius: 20px;
    color: black;
    background-color: white;
}
/* Home section  */
#home{
    display: flex;  /*flexbox iske sabhi item ko ek line m kr dega */
    flex-direction: column;
    padding: 15px 200px;
    justify-content: center;
    height: 628px;
    align-items: center;
    
}
#home::before{
    content: " ";
    background: url('../img/bg4.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 92%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}
#home h1{
    font-family: 'Lobster', cursive;
    color: rgb(11, 11, 49);
    text-align: center;
    margin: 12px;
}
#home p{
    font-family: 'Lobster', cursive;
    color: black;
    text-align: center;
    font-size: 1.5rem;
   
}

/* servicesSection -------- */

#services{
        margin: 34px;
        /* iss services m three box aane wale h that's why its necessary to make a flexbox  */
        display: flex;
}
#services .box{
    margin: 10px;
    padding: 34px;
    border-radius: 25px 6px;
    border: 2px solid brown;
    background-color: #fbf4fb;
}
#services .box img{
    height: 160px;
    /* image ko center krne k liye  */
    margin: auto;
    /* but margin uto only works when display is black not inline  */
    display: block;
    padding: 10px;

}
#services .box p{
    font-family: 'Lobster', cursive;
    font-size: 20px;
}

/* Client section  */
#client-section{
      height: 550px;
      position: relative;
}
#client-section::before{
      content: " ";
      position: absolute;
      background: url('../img/bg3.jpg');
      width: 100%;
      height: 100%;
      z-index: -1;
      opacity: 0.4;
      padding-bottom: 25px;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-item{
    padding: 34px;
}
#clients img{
    height: 124px;

}

/* ********Contact Section  */
#contact{
     position: relative;  /* relative sey utni hi space cover krega jitni content h suke ander with padding or margin */
}
#contact::before{
    content: " ";
    position: absolute;
    background: url('../img/bg1.jpg') no-repeat center center/cover;
    padding: 10px;
    margin-top: 120px;
    width: 100%;
    height: 88%;
    z-index: -1;
    opacity: 0.4;

}
#contact-box{   
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1.1rem;
    border: 2px solid black;
    /* font-family: 'Carattere', cursive; */
}
#contact-box form{
    width: 40%;

}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Baloo Bhai 2', cursive;

}
footer{
    background: black;
    color: white;
    padding: 10px 20px;
}
/* Utility classes  */
.h-primary{
    font-size: 3.8rem;
    padding-top: 150px;
}
.h-primary1{
    font-family: 'Baloo Bhai 2', cursive;
    /* font-family: 'Carattere', cursive; */
    font-size: 3.8rem;
    padding-top: 10px;
}
.h-primary2{
    font-family: 'Baloo Bhai 2', cursive;
    /* font-family: 'Carattere', cursive; */
    font-size: 3.8rem;
    padding: 25px;
}
.h-primary3{
    font-family: 'Baloo Bhai 2', cursive;
    /* font-family: 'Carattere', cursive; */
    font-size: 3.8rem;
    padding-top: 195px;
    padding-bottom: 12px;
}
.h-secondary{
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 2.2rem;
    padding: 12px;
}
.btn{
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 1.5rem;
    padding: 8px 24px;
    margin: 20px;
    border-radius: 15px;
    border: 4px solid whitesmoke;
    color: white;
    background-color: black;
    cursor: pointer;
}

.center{
    text-align: center;
}